*{
    margin: 0;
    padding: 0;
    /* font-size: 19px; */
}
::placeholder{
    font-size: 14px;

}
img {
    width: 245px;
    height: 149px;
    margin: -17% 0%;
    position: absolute;
}

form{
    background-color: rgb(0 0 0 / 65%);
    height: 80vh;
    justify-content: center;
    border-radius: 22px;
    color: aliceblue;
    align-items: center;
    text-align: center;
    margin: 2% auto;
    width: 30%;
    display: flex;
    flex-direction: row;
}
body{
    /* background-size: cover; */
    
}
.home{
    background-image: url(/images/stude1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
}
p.head{
    margin-top: 5%;
}
p{
    font-size: 21px;
}
input[type="submit"] {
    width: 127px;
    height: 32px;
    background: #4a37bd;
    color: aliceblue;
    position: absolute;
    margin: 4% -5%;
    border-radius: 10px;
}
input[type="submit"]:hover{
    background: #1f1846;
    transition: 0.5s;
    cursor: pointer;
}
@media(max-width:1075px){
    img {
        margin: -20% 0%;
    }
    

} 
@media (max-width:1050px){
    img {
        margin: -20.7% 0%;
        width: 265px;
        height: 142px;
    }
    
}
@media(max-width:1000px){
    img {
        margin: -21.7% 0%;
        width: 265px;
        height: 142px;
    }
}
@media(max-width:950px){
    img {
        margin: -23.4% 0%;
        width: 265px;
        height: 142px;
    }
}
@media(max_width:900px){
    img{
    margin: -24.4% 0%;
    width: 248px;
    height: 140px;}
}
@media(max-width:850px){
    img {
        margin: -26.4% 0%;
        width: 265px;
        height: 142px;
    }
    p.head {
        margin-top: 22%;
        font-size: 25px;
    }
    form {
        width: 36%;
    }
}
@media(max-width:800px){
    img {
        margin: -27.4% 0%;
        width: 265px;
        height: 142px;
    }
    
    p.head {
        margin-top: 22%;
        font-size: 25px;
    }
}
@media(max-width:750px){
    img {
        margin: -29.4% 0%;
        width: 265px;
        height: 142px;
    }
}
@media(max-width:700px){
    form {
        width: 44%;
    }
    img {
        margin: -31.4% -1%;
        width: 265px;
        height: 142px;
    }
}
@media(max-width:650px){
    img {
        margin: -34.4% -1%;
        width: 265px;
        height: 142px;
    }
}
@media(max-width:600px){
    img {
        margin: -37.4% -1%;
        width: 265px;
        height: 142px;
    }
    form {
        width: 53%;
    }
}
@media(max-width:550px){
    img {
        margin: -41.4% -1%;}

}
@media(max-width:500px){
    form {
        width: 65%;
    }
    img {
        margin: -46.4% -1%;
    }

}
@media(max-width:450px){
    img {
        margin: -51.4% -1%;
    }

}
@media(max-width:400px){
    
    img {
        margin: -57.4% -1%;
    }
    p.head {
        margin-top: 34%;
        font-size: 25px;
    }

}
@media(max-width:350px){
    img {
        margin: -60.4% -4%;
    }
    form {
        width: 76%;
    }

}
@media(max-width:300px){
    img {
        margin: -72.4% -7%;
    }
    input[type="submit"] {
        margin: 4% -24%;
    }

}
@media(max-width:250px){
    img {
        margin: -97.4% -11%;
    }
    form {
        height: 96vh;
    }
    .home {
        width: 114%;
        height: 120vh;
    }

}